main {
  text-align: center;
  margin: 0 auto 70px;
  width: 90%;
  max-width: 500px;
}

main .volunteers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main h2 {
  margin-bottom: 70px;
  font-size: 35px;
}

main h2 span {
  color: var(--primary-color);
}

.number {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.voluntary {
  margin-bottom: 30px;
  min-width: 150px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 0.4em;
  margin-right: 10px;
}

.voluntary p {
  font-size: 14px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
  main .volunteers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 365px) {
  main .volunteers {
    display: grid;
    grid-template-columns: 1fr;
  }
}
