.formA {
    margin: 0 auto 70px;
    width: 90%;
    max-width: 500px;
  }
  
  section.formA {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px 50px;
    border-radius: 4px;
    text-align: right;
    transition: all 300ms;
  }
  
  section.formA h2 {
    color: #ffffffee;
    font-size: 18px;
  }
  
  section.formA.hideA {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
  }
 
  form select,
  form button {
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 2px solid #fff;
    color: #fff;
  }
  form select {
    padding: 8px 16px;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
  }
  
  
  form button {
    padding: 10px 16px;
    margin-top: 4px;
    font-weight: bold;
    background: #ffffffee;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  form input {
    background: transparent;
  }
  
  @media screen and (max-width: 768px) {
    section.form {
      grid-template-columns: 1fr 2fr;
      padding: 40px 20px;
    }
  }
  