header {
  text-align: center;
  margin: 0 auto 70px;
  width: 90%;
  max-width: 500px;
}

header button {
  margin-top: 16px;
  padding: 10px 16px;
  border-radius: 4px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

header p {
  letter-spacing: 0.5px;
  margin-top: 14px;
  font-size: 16px;
}

header h2 {
  margin-bottom: 30px;
  font-size: 35px;
  color: var(--primary-color);
}

header img {
  max-width: 180px;
  margin: 40px auto;
  pointer-events: none;
  user-select: none;
}
.text {
  max-width: 90%;
  margin: auto;
  text-align: center;
}
