header {
  text-align: center;
  margin: 0 auto 70px;
  width: 90%;
  max-width: 500px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
header button {
  max-width: 200px;
  margin-top: 16px;
  margin-left: 10px;
  padding: 10px 14px;
  border-radius: 4px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}
header button:hover {
  transform: scale(1.06);
}

header p {
  letter-spacing: 0.5px;
  margin-top: 14px;
  font-size: 16px;
}

header h2 {
  margin-bottom: 30px;
  font-size: 35px;
  color: var(--primary-color);
}

header img {
  max-width: 180px;
  margin: 40px auto;
  pointer-events: none;
  user-select: none;
}
.text {
  max-width: 90%;
  margin: auto;
  text-align: center;
}
@media (max-width: 768px) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
