.footer-container svg {
  display: block;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  padding: 2em 6em;
  background: var(--dark-color);
}
footer ul {
  list-style: none;
  margin-right: 50px;
}
footer ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer ul li a {
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 0.4em 0.5em;
  cursor: pointer;
  text-decoration: none;
  color: var(--light-color);
  transition: 0.2s color ease-out;
}
ul li .icon {
  font-size: 18px;
  color: var(--light-color);
  transition: 0.2s color ease-out;
}

ul li:hover > a,
ul li:hover > .icon {
  color: #fff;
}

.owner p {
  color: #fff;
  pointer-events: none;
  user-select: none;
}
.owner span {
  font-weight: bold;
  color: var(--primary-color);
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 2em 3em;
    justify-content: center;
  }
}
