@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700&display=swap');
:root {
  --primary-color: #8c7ae6;
  --light-color: #dcdde1;
  --dark-color: #2f3640;
}

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
